<h1>Rails + Stimulus + React</h1>

<div data-controller="food">
  <%= select_tag "kinds",
                 options_for_select(Food.kinds.keys, "fruit"),
                 multiple: true,
                 data: { action: "change->food#filter" } %>

  <div data-target="food.food">
    <%= render "food/food", items: @food %>
  </div>
</div>
